<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Главная страница</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<div th:if="${user != null}">
    <h1>Добро пожаловать, <span th:text="${user.firstName}">Пользователь</span>!</h1>
    <p>ID: <span th:text="${user.id}"></span></p>
    <p>Имя: <span th:text="${user.firstName}"></span></p>
    <p>Фамилия: <span th:text="${user.lastName}"></span></p>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Фото: <img th:src="${user.photoUrl}" alt="Фото пользователя"></p>
    <p>Дата аутентификации: <span th:text="${user.authDate}"></span></p>
</div>

<div th:if="${user == null}">
    <h1>Идет аутентификация через Telegram...</h1>
    <script>
        const initData = Telegram.WebApp.initData;

        fetch('/auth/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ initData })
        })
            .then(response => response.json())
            .then(data => {
                console.log("Ответ сервера:", data);
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
            })
            .catch(error => console.error("Ошибка:", error));

    </script>
</div>
</body>
</html>
